@import "../variables";

@mixin management(){
  .card{
    padding: 10px;
    background: $header-background;
    h3{
      color: $element-color;
    }
    .MuiTable-root{
      th{
        color: $element-color;
        font-size: calc(  20px + ( #{$font-size}  ) );
      }
      td{
        color: $element-color;
        font-size: calc(  18px + ( #{$font-size}  ) );
      }

    }
  }
  @content
}
