// 調整字型大小
$font-size: 0px;
// 字形調整寬度的調整
$width-num: 0px;
// 背景顏色
$backgroundColor: #222222;
// 頭部高度
$header-height: 80px;
// 頭部顏色
$header-background : #333333;
//黑色背景元件顏色
$element-color: #c5cdd3;
// hover 背景顏色
$hover-background-color: #434343;
