@import "../variables.scss";

.b-gantt {
  > .b-toolbar {
    border-bottom : 1px solid;

    > .b-content-element {
      > .b-widget:not(.b-last-visible-child) {
        margin-right : 1em;
      }

      .b-button {
        min-width : 3.5em;
      }
    }
  }
}

.filter-by-name label {
  display : none;
}

.b-theme-stockholm .b-gantt > .b-toolbar {
  border-bottom-color : #d8d9da;
}

.b-theme-classic .b-gantt > .b-toolbar {
  background-color    : #f1f1f4;
  border-bottom-color : #b0b0b6;

  .b-has-label label {
    color : #555;
  }
}

.b-theme-classic-light .b-gantt > .b-toolbar {
  background-color    : #2b2b2f;
  border-bottom-color : #2a2b2e;
}

.b-theme-material .b-gantt > .b-toolbar {
  background-color : #fff;
  border-bottom    : none;

  .filter-by-name label {
    display : block;
  }
}

.b-theme-classic-dark .b-gantt > .b-toolbar {
  background-color    : black;
  border-bottom-color : black;
}

.b-status-column-cell {
  font-size       : 0.8em;
}

.b-status-column-cell i::before {
  margin-right : .5em;
}

.Started {
  color : #bbb;
}

.Late {
  color : #ff5722;
}

.Completed {
  color : #34d844;
}

.settings-menu .b-slider {
  margin-bottom: 0.5em;
}

.b-toolbar.b-dock-top{
  //border-color: ;
}
.b-grid-header-container{
  //border-color: ;
}

.b-gridbase{
  background-color: #333333;
}
.b-header{
  background-color: #333333;
}
.b-toolbar{
  background: #333333;
}
.b-red{
  background: #333333;
}
.b-grid-header-container{
  background-color: #333333;
}
