@import "../variables";

.font-center{
  text-align: center;
}

.text-center{
  text-align: center!important;
}

// 字型大小

.f-1{
  font-size: calc( 1px + #{$font-size});
}
.f-2{
  font-size: calc( 2px + #{$font-size});
}

.f-3{
  font-size: calc( 3px + #{$font-size});
}

.f-4{
  font-size: calc( 4px + #{$font-size});
}

.f-5{
  font-size: calc( 5px + #{$font-size});
}

.f-6{
  font-size: calc( 6px + #{$font-size});
}

.f-7{
  font-size: calc( 7px + #{$font-size});
}

.f-8{
  font-size: calc( 8px + #{$font-size});
}

.f-9{
  font-size: calc( 9px + #{$font-size});
}

.f-10{
  font-size: calc( 10px + #{$font-size});
}

.f-11{
  font-size: calc( 11px + #{$font-size});
}

.f-12{
  font-size: calc( 12px + #{$font-size});
}

.f-13{
  font-size: calc( 13px + #{$font-size});
}

.f-14{
  font-size: calc( 14px + #{$font-size});
}

.f-15{
  font-size: calc( 15px + #{$font-size});
}

.f-16{
  font-size: calc( 16px + #{$font-size});
}

.f-17{
  font-size: calc( 17px + #{$font-size});
}

.f-18{
  font-size: calc( 18px + #{$font-size});
}

.f-19{
  font-size: calc( 19px + #{$font-size});
}

.f-20{
  font-size: calc( 20px + #{$font-size});
}

.f-21{
  font-size: calc( 21px + #{$font-size});
}

.f-22{
  font-size: calc( 22px + #{$font-size});
}

.f-23{
  font-size: calc( 23px + #{$font-size});
}

.f-24{
  font-size: calc( 24px + #{$font-size});
}

.f-25{
  font-size: calc( 25px + #{$font-size});
}

.f-26{
  font-size: calc( 26px + #{$font-size});
}

.f-27{
  font-size: calc( 27px + #{$font-size});
}

.f-28{
  font-size: calc( 28px + #{$font-size});
}

.f-29{
  font-size: calc( 29px + #{$font-size});
}

.f-30{
  font-size: calc( 30px + #{$font-size});
}

.f-31{
  font-size: calc( 31px + #{$font-size});
}

.f-32{
  font-size: calc( 32px + #{$font-size});
}

.f-33{
  font-size: calc( 33px + #{$font-size});
}

.f-34{
  font-size: calc( 34px + #{$font-size});
}

.f-35{
  font-size: calc( 35px + #{$font-size});
}

.f-36{
  font-size: calc( 36px + #{$font-size});
}

.f-37{
  font-size: calc( 37px + #{$font-size});
}

.f-38{
  font-size: calc( 38px + #{$font-size});
}

.f-39{
  font-size: calc( 39px + #{$font-size});
}

.f-40{
  font-size: calc( 40px + #{$font-size});
}

.f-41{
  font-size: calc( 41px + #{$font-size});
}

.f-42{
  font-size: calc( 42px + #{$font-size});
}

.text-white{
  color: #c9d0d5 !important;
}
