.margin-0{
  margin: 0px
}

.margin-1{
  margin: 1px
}

.margin-2{
  margin: 2px
}

.margin-3{
  margin: 3px
}

.margin-4{
  margin: 4px
}

.margin-4{
  margin: 4px
}

.margin-5{
  margin: 5px;
}

.margin-bottom-30{
  margin-bottom: 30px;
}

.margin-bottom-40{
  margin-bottom: 40px;
}

.margin-top-bottom-40{
  margin: 40px 0px;
}



