.padding-0{
  padding: 0px;
}

.padding-1{
  padding: 1px;
}

.padding-2{
  padding: 2px;
}

.padding-3{
  padding: 3px;
}

.padding-4{
  padding: 4px;
}

.padding-5{
  padding: 5px;
}

.padding-6{
  padding: 6px;
}

.padding-7{
  padding: 7px;
}

.padding-8{
  padding: 8px;
}

.padding-9{
  padding: 9px;
}

.padding-10{
  padding: 10px;
}

.padding-top-and-bottom-0{
  padding-top: 0px;
  padding-bottom: 0px;
}

.padding-top-and-bottom-1{
  padding-top: 1px;
  padding-bottom: 1px;
}

.padding-top-and-bottom-2{
  padding-top: 2px;
  padding-bottom: 2px;
}

.padding-top-and-bottom-3{
  padding-top: 3px;
  padding-bottom: 3px;
}

.padding-top-and-bottom-4{
  padding-top: 4px;
  padding-bottom: 4px;
}

.padding-top-and-bottom-5{
  padding-top: 5px;
  padding-bottom: 5px;
}

.padding-top-and-bottom-6{
  padding-top: 6px;
  padding-bottom: 6px;
}

.padding-top-and-bottom-7{
  padding-top: 7px;
  padding-bottom: 7px;
}

.padding-top-and-bottom-8{
  padding-top: 8px;
  padding-bottom: 8px;
}

.padding-top-and-bottom-9{
  padding-top: 9px;
  padding-bottom: 9px;
}

.padding-top-and-bottom-10{
  padding-top: 10px;
  padding-bottom: 10px;
}
