.import-windows{
  .import-btn{
    display: none;
  }
  .drag-drop-zone {
    padding: 2rem;
    text-align: center;
    border-radius: 0.5rem;
  }
  .inside-drag-area {
    opacity: 0.3;
  }
  .uploadBox{
    width: calc(  100% - 60px );
    padding: 10px;
    text-align:center;
    border-radius: 10px;
    background-color: #343439;
    width: 96%;
    svg{
      margin: 10px auto;
      width: 60px;
      height: 60px;
    }
    .chooseFilesBtn{
      margin: 15px 0px;
      white-space:nowrap;
      padding: 0px 10px;
      .searchIcon{
        width: 20px;
        height: 20px;
      }
    }
    .fileUpload{
      border-radius: 4px;
      border: 3px dashed #fff;
    }
  }
}
