@import "../_variables.scss";

// 初始化 Button 狀態
.btn{
  cursor: pointer;
}

// 橢圓形 Button 模板Square
@mixin btn-oval($btm-color){
  padding: 10px 20px;
  border-radius: 30px;
  border: 2px solid $btm-color;
  margin-bottom: 5px;
  margin-right: 10px;
  background: none;
  font-size: calc( 16px + #{$font-size});
  color: $btm-color;
  @content
}

// 方形 Button 模板
@mixin btn-square($btm-color){
  padding: 10px 20px;
  border-radius: 3px;
  border: 2px solid $btm-color;
  margin-bottom: 5px;
  margin-right: 10px;
  background: none;
  font-size: calc( 16px + #{$font-size});
  color: $btm-color;
  @content
}

// Button Hover 模板
@mixin hover($btm-color, $font-color){
  background-color: $btm-color; /* Green */
  color: $font-color;
  @content
}

.btn-oval-primary{
  @include btn-oval(dodgerblue) {
    &:hover {
      @include hover(dodgerblue, white)
    }
  }
}

.btn-oval-secondary{
  @include btn-oval(slategray) {
    &:hover {
      @include hover(slategray, white)
    }
  }
}

.btn-oval-success{
  @include btn-oval(seagreen) {
    &:hover {
      @include hover(seagreen, white)
    }
  }
}

.btn-oval-danger{
  @include btn-oval(crimson) {
    &:hover {
      @include hover(crimson, white)
    }
  }
}

.btn-oval-warning{
  @include btn-oval(gold) {
    &:hover {
      @include hover(gold, mediumslateblue)
    }
  }
}

.btn-oval-info{
  @include btn-oval(lightseagreen) {
    &:hover {
      @include hover(lightseagreen, white)
    }
  }
}


.btn-oval-light{
  @include btn-oval(ghostwhite) {
    color: black;
    &:hover {
      @include hover(ghostwhite, black)
    }
  }
}

.btn-oval-dark{
  @include btn-oval(#333b3f) {
    &:hover {
      @include hover(#333b3f, white)
    }
  }
}

.btn-square-primary{
  @include btn-square(dodgerblue) {
    &:hover {
      @include hover(dodgerblue, white){
      }
    }
  }
}

.btn-square-secondary{
  @include btn-square(slategray) {
    &:hover {
      @include hover(slategray, white){
      }
    }
  }
}

.btn-square-success{
  @include btn-square(seagreen) {
    &:hover {
      @include hover(seagreen, white)
    }
  }
}


.btn-square-danger{
  @include btn-square(crimson) {
    &:hover {
      @include hover(crimson, white){
      }
    }
  }
}

.btn-square-warning{
  @include btn-square(gold) {
    &:hover {
      @include hover(gold, mediumslateblue){
      }
    }
  }
}

.btn-square-light{
  @include btn-square(ghostwhite) {
    &:hover {
      @include hover(ghostwhite, black){
      }
    }
  }
}

.btn-square-info{
  @include btn-square(lightseagreen) {
    &:hover {
      @include hover(lightseagreen, white){
      }
    }
  }
}


.btn-square-dark{
  @include btn-square(#333b3f) {
    &:hover {
      @include hover(#333b3f, white){
      }
    }
  }
}




.btn-square-primary{
  @include btn-square(dodgerblue) {
    &:hover {
      @include hover(dodgerblue, white){
      }
    }
  }
}

.btn-square-solid-dark{
  @include btn-square(#333b3f) {
    background: #333b3f;
    color: white;
    &:hover {
      @include hover(#273338, white){
        border-color: #222c31;
      }
    }
  }
}

.btn-square-solid-secondary{
  @include btn-square(slategray) {
    background: slategray;
    color: white;
    &:hover {
      @include hover(slategray, white){
        border-color: slategray;
      }
    }
  }
}
