@import "../variables.scss";

$select-width: 90px;

.header{
  position: fixed;
  width: 100%;
  height: $header-height;
  background: $header-background;
  border-bottom: 1px solid hsla(0,0%,100%,.12)!important;
  top: 0;
  left: 0;
  z-index: 10;
  margin-top: 0;

  // logo css
  img{
    float: left;
    max-width: 100%;
    height: 100%;
    margin-left: 20px ;
  }
  // 功能選單 css
  .right-features{
    height: $header-height - calc(  27px - ( #{$font-size} / 2 ) );
    float: right;
    padding: calc( 27px - ( #{$font-size} / 2 ) ) 10px 0px;
    .translate{

      max-width: calc(  45px + ( #{$select-width}  ) );
      white-space:nowrap;
      display: inline-block;
      &:hover{

        background-color: $hover-background-color;
        border-radius: 5px;
      }
      button{
        padding: 0px;
      }
      .MuiSelect-select{
        width: $select-width;
        padding: 0px;
        color: $element-color;
      }
      .MuiInputBase-root{
        padding: 0px;
        border: 0px;
        left: -10px;
        &:before{
          border: 0px;
        }
      }
      .MuiInput-underline:after{
        border: 0px;
      }
    }
    svg{
      color: $element-color;
      width:  calc( 25px + #{$font-size} );
      height: calc( 25px + #{$font-size} );
      padding: 0px calc( 10px + #{$font-size});
    }
  }
}

