@import "../variables.scss";
.home {

}

.no_data{
  padding: 50px;
  width: 100%;
  h3{
    font-size: calc(  25px + ( #{$font-size}  ) );
    margin-bottom: 30px;
  }
  h4{
    font-size: calc(  16px + ( #{$font-size}  ) );
    margin-bottom: 30px;
  }
  button{
    margin: 0px 10px;
  }
}

.gantt{
  padding: 15px;
  height: 500px;
  margin-bottom: 50px;
}
