@import "../variables.scss";

.MuiCardContent-root{
  padding: 1px !important;
}

.testing-platform{
  height: 100%;
  width: 100%;
  img{
    margin: 0px 2px;
  }
  .center-imag{
    height: 100px;
    max-width: 200px;
    width: 100%;
  }
  .mini-img {
    height: 50px;
    max-width: 100px;
    overflow: hidden;
    width: 100%;
  }
}